name: Publish Docker image
on:
  push

# env:
#   DOCKER_BUILDKIT: 1
#   IMAGE_NAME: sample-image

jobs:
  # push_to_registry:
  #   name: Push Docker image to GitHub Packages
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Check out the repo
  #       uses: actions/checkout@v2
  #     - name: Push to GitHub Packages
  #       uses: docker/build-push-action@v1
  #       with:
  #         username: ${{ github.actor }}
  #         password: ${{ secrets.GHCR_PAT }}
  #         registry: ghcr.io
  #         repository: ${{ github.repository }}/sample-image
  #         tag_with_sha: true
  #       env:
  #         DOCKER_BUILDKIT: 1

  dockle:
      name: Dockle
      runs-on: ubuntu-18.04
      # needs: push_to_registry
      steps:
        - uses: actions/checkout@master

        - name: Login to GitHub Container Registry
          uses: docker/login-action@v1
          with:
            registry: ghcr.io
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GHCR_PAT }}

        - name: Install dockle
          run: |
            VERSION=$(curl --silent "https://api.github.com/repos/goodwithtech/dockle/releases/latest" | \
            grep '"tag_name":' | \
            sed -E 's/.*"v([^"]+)".*/\1/' \
            )
            curl -L -o dockle.deb https://github.com/goodwithtech/dockle/releases/download/v${VERSION}/dockle_${VERSION}_Linux-64bit.deb
            sudo dpkg -i dockle.deb
            rm dockle.deb

        - name: Check image with dockle
          id: check-dockle
          run: dockle ghcr.io/${{ github.repository }}/sample-image:sha-12efab6
          continue-on-error: true

  trivy:
    name: Trivy Scan Vulnerability
    runs-on: ubuntu-18.04
      # needs: push_to_registry
    steps:
      - uses: actions/checkout@master

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GHCR_PAT }}

      # - name: Pull image from GitHub Registry
      #   run: docker pull docker.pkg.github.com/${{ github.repository }}/${IMAGE_NAME}:${IMAGE_TAG}

      - name: Install trivy
        run: |
          sudo apt-get install --no-install-recommends apt-transport-https gnupg
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -cs) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install --no-install-recommends trivy

      - name: Vulnerability Scan with Trivy
        run: |
          trivy -q --severity WARNING,HIGH,CRITICAL \
            --exit-code 1 ghcr.io/${{ github.repository }}/sample-image:sha-12efab6
        continue-on-error: true